<div class="footer p-5">
    <div class="footer-inner">
        <div class="footer-inner-left">
            <img src="https://res.cloudinary.com/dhwuwy0to/image/upload/v1678326354/M%C3%A0u_%C4%91%C3%A0o_v%C3%A0_N%C3%A2u_Ph%C3%B4ng_ch%E1%BB%AF_H%C3%ACnh_v%E1%BA%BD_m%E1%BB%99t_n%C3%A9t_%C4%90%C6%A1n_gi%E1%BA%A3n_S%E1%BA%A3n_ph%E1%BA%A9m_C%C3%A0_ph%C3%AA_Bi%E1%BB%83u_tr%C6%B0ng_C%C3%A0_ph%C3%AA_gtnvfx.png"
                 alt="">
            <h2>IMPROOK</h2>
        </div>

        <div class="footer-inner-right">
            <div>
                <h4>Giới Thiệu</h4>
                <div>
                    <p>BTL</p>
                    <p>
                    </p>
                </div>
            </div>
            <div>
                <h4>Các Thành Viên</h4>
                <div>
                    <p>Nguyễn Hoài Nam</p>
                </div>
            </div>
            <div>
                <h4>Hotline</h4>
                <div>
                </div>
            </div>
</div>